:host {
  display: block;
}

.wallbox-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1px;
}

.titulo-wallbox {
  display: flex;
  gap: 1px;
  justify-content: center;
  background-color: var(--surface-card);
  color: var(--text-color);
}

.input-label-wrapper {
  min-height: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
