@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

/* Seus estilos personalizados aqui */
