:host {
  display: block;
  padding: 0;

  ::ng-deep .p-dialog-content {
    padding: 1rem; /* Reduzir o padding interno para telas menores */
  }
}

.sub-th {
  font-weight: normal;
  font-size: 0.85rem;
  background-color: var(--surface-ground);
  color: var(--text-color);
}
